<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1'/>
    <title>Erich Douglass</title>
    <%= google_analytics_tag %>
    <%= stylesheet_link_tag     'application' %>
    <%= javascript_include_tag  'application' %>
</head>
<body>

<div class="wrapper">
    <div class="sidebar">
        <div class="container-fluid">
            <div class="avatar">
                <%= image_tag 'avatar.png' %>
            </div>
            <h1 class="name">
                Erich Douglass
            </h1>
            <ul class="links">
                <li><%= link_to 'Home', '/' %></li>
                <li>*</li>
                <li><%= link_to 'Archives', '/archives.html' %></li>
                <li>*</li>
                <li><%= link_to 'About', '/about.html' %></li>
            </ul>
            <ul class="social">
                <li>
                    <% link_to 'http://twitter.com/erichdouglass' do %>
                        <i class="icon-twitter"></i>
                    <% end %>
                </li>
                <li>
                    <% link_to 'http://plus.google.com/102670330414606263487' do %>
                        <i class="icon-google-plus"></i>
                    <% end %>
                </li>
                <li>
                    <% link_to '/feed.xml' do %>
                        <i class="icon-rss"></i>
                    <% end %>
                </li>
            </ul>
        </div>
    </div>
    <div class="mainbar">
        <div class="container-fluid">
            <%= yield %>
        </div>
    </div>
</div>

</body>
</html>
